# Файл my_website.j2

<VirtualHost *:80>
    ServerName {{ apache2_site_name }}

    DocumentRoot /var/www/{{ apache2_site_name }}

    <Directory /var/www/{{ apache2_site_name }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ apache2_site_name }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache2_site_name }}.access.log combined
</VirtualHost>
